.main{
	margin: 1rem 2rem;
	padding: .3rem 1rem;
}

.text{
	display: flex;	
}

.main h3{
	font-size: 3em;
	margin-top: 2em;
	text-align: left;
}

.main p{
	font-size: 1.5em;
	text-align: left;
}

.main img{
	margin: 2em 2em;
	padding-left: 3em;
	border-radius: 2em;
	box-shadow: 0 10px 12px #fff;
	background: #101820ff;
}

.card-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: minmax(6ch, 20ch) 1fr minmax(6ch, 20ch) 1fr;

  /*   other styling */
  width: min(90%, 60rem);
  margin-inline: auto;
}

.card {
  grid-column: span 2;

  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: min-content 1fr;
  gap: 1em;
  border: 3px solid black;
}

.card h2 {
  grid-column: 2;
  padding-top: 1rem;
  padding-right: 1em;
  font-size: 1.75rem;
  line-height: 1;
}

.card p {
  grid-column: 2;
  padding-bottom: 1rem;
  padding-right: 1em;
}

.card img {
  grid-column: 1;
  grid-row: 1 / span 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h4{
	margin-top: 2em;
	text-align: center;
	font-size: 3em;
}

.footer{
	background: #101820ff;
	margin-top: 2em;
}

.btn2{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em 0;
	padding: .5em 1em;
}

.btn2 button{
	border: none;
	padding: .4em 1.3em;
	border-radius: .3em;
	font-size: 1.1em;
	font-weight: 500;
	background-color: #1a0066;
	box-shadow: 0 3px 5px #333;
	transition: box-shadow, background .4s ease-in;
	color: #fff;
}

.btn2 button:hover, .btn2 button:focus{
	background: #001a66;
	box-shadow: 0 5px 7px #000;
}

.footer ul li a:hover, .footer ul li a:focus{
	background: #100040;
}

.fa-brands{
	color: #bdbdae;
	font-size: 2em;
	margin-left: .5em;
	padding-bottom: 1em;
	cursor: pointer;
}

.fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram, .fa-github, .fa-linkedin{
	transition: color .3s ease-in-out;
}

.fa-facebook:hover{
	color: #265cff;
}

.fa-twitter:hover{
	color: #0080ff;
}

.fa-youtube:hover{
	color: #ff0040;
}

.fa-instagram:hover{
	color: #ff9326;
}

.fa-github:hover{
	color: #5900b3;
}

.fa-linkedin:hover{
	color: #00bfff;
}

.social-icons{
	display: flex;
	align-items: center;
	justify-content: center;
}

.copyright{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #222222; 
}

.copyright p{
	color: #fff;
}

.copy-link{
	text-decoration: none;
	color: #73dcff;
	transition: color .3s ease-in-out;
}

.copy-link:hover{
	color: #4cff79;
	text-decoration: underline;
}

@media (max-width: 600px){
	.text{
		display: block;
	}
	
	.main img{
		padding-left: .2em;
		margin: 1em 1em;
		overflow: hidden;
	}
}